Repository michalsvorc/git-print: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests, yarn fix:format

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "yarn lint:ts",
    "yarn fix",
    "yarn test --findRelatedTests --passWithNoTests"
  ],
  "**/*.json": "yarn fix:format",
  "**/*.md": "yarn fix:format"
}

chore(package): upgrade eslint packages
  package.json
  yarn.lock
Due: yarn fix:format

chore(package): pin "typescript": "4.9.3"
  package.json
  yarn.lock
Due: yarn fix:format

chore(package): upgrade minor versions
  package.json
  yarn.lock
Due: yarn fix:format

chore(package): upgrade major versions
  package.json
  yarn.lock
Due: yarn fix:format

chore(vscode): settings formatting
  .vscode/settings.json
Due: yarn fix:format

chore(yarn): sdks upgrade
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
Due: yarn fix:format

chore(package): fix name field
  package.json
  yarn.lock
Due: yarn fix:format

Revert "build(package): move compile command to scripts"
  package.json
  scripts/build.mjs
Due: yarn fix:format

chore(vscode): add to dictionary
  .vscode/settings.json
Due: yarn fix:format

refactor(arguments): naming, functions, unit tests
  src/args/Arguments.type.ts
  src/args/castArgToBoolean.spec.ts
  src/args/defaultArgs.ts
  src/args/getArgs.spec.ts
  src/args/getArgs.ts
  src/args/parseArgs.ts
  src/arguments/castArgumentToBoolean.spec.ts
  src/arguments/castArgumentToBoolean.ts
  src/arguments/getDefaultArguments.spec.ts
  src/arguments/getDefaultArguments.ts
  src/arguments/parseArguments.spec.ts
  src/arguments/parseArguments.ts
  src/arguments/readArgumentsFromInput.spec.ts
  src/arguments/readArgumentsFromInput.ts
  src/arguments/stagedOnlyFilterOptions.spec.ts
  src/arguments/stagedOnlyFilterOptions.ts
  src/main.spec.ts
  src/main.ts
  src/types.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(output): resolve single file to abs path
  src/output/resolveAbsolutePath.spec.ts
  src/output/resolveAbsolutePath.ts
  src/output/resolveAbsolutePaths.spec.ts
  src/output/resolveAbsolutePaths.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(arguments): no default for input arguments
  src/arguments/readArgumentsFromInput.spec.ts
  src/arguments/readArgumentsFromInput.ts
  src/arguments/readInputArguments.spec.ts
  src/arguments/readInputArguments.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(commands): get git root error handling
  src/commands/getGitRoot.spec.ts
  src/commands/getGitRoot.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(commands): get git status error handling
  src/commands/getGitStatus.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

feat(status): resolve absolute paths to files
  src/statusDictionary/createStatusDictionary.spec.ts
  src/statusDictionary/createStatusDictionary.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(arguments): remove cwd property from defaults
  src/arguments/defaultArguments.spec.ts
  src/arguments/defaultArguments.ts
  src/arguments/getDefaultArguments.spec.ts
  src/arguments/getDefaultArguments.ts
  src/types.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

feat(arguments): casting arguments handles undefined
  src/arguments/castArgument.spec.ts
  src/arguments/castArgument.ts
  src/arguments/castArgumentToBoolean.spec.ts
  src/arguments/castArgumentToBoolean.ts
  src/arguments/castInputArguments.spec.ts
  src/arguments/castInputArguments.ts
  src/arguments/parseArguments.spec.ts
  src/arguments/parseArguments.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(hierarchy): file structure
  .commitlintrc.json
  .eslintrc.cjs
  .vscode/settings.json
  .yarnrc.yml
  README.md
  TODO.md
  package.json
  src/arguments/castInputArguments.ts
  src/arguments/defaultArguments.spec.ts
  src/arguments/defaultArguments.ts
  src/arguments/getArgumentFrom.spec.ts
  src/arguments/getArgumentFrom.ts
  src/arguments/parseCWDInputArguments.spec.ts
  src/arguments/parseCWDInputArguments.ts
  src/arguments/parseGitStatusInputArguments.spec.ts
  src/arguments/parseGitStatusInputArguments.ts
  src/arguments/splitInputArguments.spec.ts
  src/arguments/splitInputArguments.ts
  src/arguments/stagedOnlyFilterOptions.ts
  src/cli/cli.spec.ts
  src/cli/cli.ts
  src/cli/index.ts
  src/cli/readInputArguments.spec.ts
  src/cli/readInputArguments.ts
  src/commands/getGitRoot.ts
  src/commands/getGitStatus.spec.ts
  src/commands/getGitStatus.ts
  src/constants.ts
  src/errors.ts
  src/index.ts
  src/main.spec.ts
  src/main.ts
  src/statusDictionary/filterStatusDictionary.spec.ts
  src/statusDictionary/filterStatusDictionary.ts
  src/types.ts
  yarn.lock
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests, yarn fix:format
