Repository michalsvorc/git-print: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests, yarn fix:format

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "yarn lint:ts",
    "yarn fix",
    "yarn test --findRelatedTests --passWithNoTests"
  ],
  "**/*.json": "yarn fix:format",
  "**/*.md": "yarn fix:format"
}

build: use del-cli instead of a prebuild script
  bin/prebuild.sh
  package.json
  yarn.lock
Due: yarn fix:format

build: use bin/bootstrap.js script instead of .sh
  bin/bootstrap.js
  bin/bootstrap.sh
  package.json
  yarn.lock
Due: yarn fix:format

docs(README): update structure
  README.md
Due: yarn fix:format

chore(lint): import order
  src/createFileOutput/createFileOutput.spec.ts
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

build(logger): refactoring
  scripts/utils/logger.mjs
Due: none

build(build): remove console log, refactoring
  scripts/build.mjs
Due: none

build(dev): remove console log, refactoring
  scripts/dev.mjs
Due: none

docs(development): add development build execution
  README.md
Due: yarn fix:format

build(scipts): remove logger, use simple logging
  scripts/build.mjs
  scripts/dev.mjs
  scripts/utils/logger.mjs
Due: none

build(scripts): remove try/catch from dev, build
  scripts/build.mjs
  scripts/dev.mjs
Due: none

refactor(args): extract Arguments interface
  src/args/Arguments.type.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(args): extract casting to Boolean
  src/args/castArgToBoolean.spec.ts
  src/args/castArgToBoolean.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(args): extractr default args
  src/args/defaultArgs.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(args): extract getting args
  src/args/getArgs.spec.ts
  src/args/getArgs.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(args): extract parsing args
  src/args/parseArgs.spec.ts
  src/args/parseArgs.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

chore(args): remove legacy parse args
  src/parseArgv/index.ts
  src/parseArgv/parseArgv.spec.ts
  src/parseArgv/parseArgv.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(args): add extractions to main func
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(commands): function currying takes 2 args
  src/executeCommand/executeCommand.spec.ts
  src/executeCommand/executeCommand.ts
  src/gitRoot/gitRoot.ts
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

chore(commands): move git root to command/getGitRoot
  src/args/defaultArgs.ts
  src/command/getGitRoot.spec.ts
  src/command/getGitRoot.ts
  src/gitRoot/index.ts
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

chore(commands): move execute to command/
  src/command/execute.spec.ts
  src/command/execute.ts
  src/executeCommand/index.ts
  src/gitRoot/gitRoot.ts
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

chore(commands): rename command/ to commands/
  src/args/defaultArgs.ts
  src/commands/execute.spec.ts
  src/commands/execute.ts
  src/commands/getGitRoot.spec.ts
  src/commands/getGitRoot.ts
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(services): resolve absolute paths
  src/addPathToFilenames/addPathToFilenames.spec.ts
  src/addPathToFilenames/addPathToFilenames.ts
  src/addPathToFilenames/index.ts
  src/args/castArgToBoolean.spec.ts
  src/args/parseArgs.spec.ts
  src/commands/execute.spec.ts
  src/main.ts
  src/services/resolveAbsolutePaths.spec.ts
  src/services/resolveAbsolutePaths.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(services): parse output
  src/createFileOutput/createFileOutput.spec.ts
  src/createFileOutput/createFileOutput.ts
  src/createFileOutput/index.ts
  src/main.ts
  src/services/parseOutput.spec.ts
  src/services/parseOutput.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(args): move git command args to main fn
  src/gitArguments/gitArguments.spec.ts
  src/gitArguments/gitArguments.ts
  src/gitArguments/index.ts
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

chore(repo): formatting
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

chore(vscode): update spelling dictionary
  .vscode/settings.json
Due: yarn fix:format

refactor(status): create status dictionary
  src/createStatusDictionary/createStatusDictionary.spec.ts
  src/createStatusDictionary/createStatusDictionary.ts
  src/filterStatusDictionary/filterStatusDictionary.spec.ts
  src/filterStatusDictionary/filterStatusDictionary.ts
  src/services/parseOutput.spec.ts
  src/types.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(main): async/await - better flow control
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

chore(status): move dictionary fn to dedicated dir
  src/createStatusDictionary/index.ts
  src/filterStatusDictionary/index.ts
  src/main.ts
  src/statusDictionary/createStatusDictionary.spec.ts
  src/statusDictionary/createStatusDictionary.ts
  src/statusDictionary/filterStatusDictionary.spec.ts
  src/statusDictionary/filterStatusDictionary.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

chore(output): rename services/ to output/
  src/main.ts
  src/output/formatOutput.spec.ts
  src/output/formatOutput.ts
  src/output/resolveAbsolutePaths.spec.ts
  src/output/resolveAbsolutePaths.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(args): extract stagedOnlyFilterOptions
  src/args/stagedOnlyFilterOptions.ts
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(main): extract get git status function
  src/commands/getGitStatus.spec.ts
  src/commands/getGitStatus.ts
  src/main.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

refactor(main): readability, un-curry functions
  src/args/parseArgs.spec.ts
  src/commands/getGitStatus.spec.ts
  src/commands/getGitStatus.ts
  src/main.ts
  src/output/resolveAbsolutePaths.spec.ts
  src/output/resolveAbsolutePaths.ts
  src/statusDictionary/filterStatusDictionary.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

test(main): add unit test
  src/main.spec.ts
Due: yarn lint:ts, yarn fix, yarn test --findRelatedTests --passWithNoTests

build(package): move compile command to scripts
  package.json
  scripts/build.mjs
Due: yarn fix:format

build(package): move bootstrap to prepare command
  README.md
  package.json
Due: yarn fix:format

docs(development): execute build with start comand
  README.md
Due: yarn fix:format

chore(package): update repository and description
  package.json
Due: yarn fix:format

chore(scripts): formatting
  scripts/build.mjs
Due: none
